
body {
        background-color: tan;
        font-family: sans-serif;
        margin-left: 10%;
}
h2 {
      color: green;
      font-family: serif;

}
.denumire {

      color : red;

}
.coffee {
      border-style: solid;
      border-width: medium;
      border-color: #FFDEAD;

}
#c_negru {
      border-style: solid;
      border-width: medium;
      border-color: black;
      border-radius: 5px;
}
