
body {
        background-color: rgb(70%, 40%, 10%);
        font-family: sans-serif;
        font-size: 12px;
        margin-left: 10%;
}
h1 {
      font-size: 150%;

}
h2 {
      font-size: 1.2em;
      color: green;
      font-family: serif;

}
.denumire {
      font-size: x-large;
      color : red;

}
.produs {
      font-size: small;
      border-style: solid;
      border-width: medium;
}
.coffee {
      border-color: rgb(200, 50, 0);

}
#c_negru {
      border-style: dotted;
      border-color: black;
      border-radius: 5px;
}
#LH16 {
      line-height: 1.6em;
      border-style: solid;
      border-width: thin;
      border-radius: 15px;
      padding: 0.5%;
      margin-right: 25%;
      margin-left: 15%;
}
#ticket {
        position: fixed;
        top: 100px;
        right: 20px;
        width: 290px;

}

.guarantee {
      border-style: dashed;
      border-width: 1px;
      border-color: white;
      background-color: #a7cece;
      background-image: url(images/background.gif);
      background-repeat: no-repeat;
      background-position: center left;
      line-height: 200%;
      padding: 3px;
      margin: 10px;
      margin-left: auto;
      margin-right: auto;
      padding-left: 70px;
      min-height: 80px;
      max-width: 400px;
      box-sizing: border-box;
        /* float: right; */


}
a {
      color: white;
      text-decoration: none;
}
a:link {

}
a:visited {
      color: #777777;
}
a:hover {
      text-decoration: underline;
}
.song {
      font-style: italic;
}
.artist {
      font-weight: bold;
}
