
body {
        background-color: rgb(70%, 40%, 10%);
        font-family: sans-serif;
        font-size: 12px;
        margin-left: 10%;
}
h1 {
      font-size: 150%;

}
h2 {
      font-size: 1.2em;
      color: green;
      font-family: serif;

}
.denumire {
      font-size: x-large;
      color : red;

}
.produs {
      font-size: small;
      border-style: solid;
      border-width: medium;
}
.coffee {
      border-color: rgb(200, 50, 0);

}
#c_negru {
      border-style: dotted;
      border-color: black;
      border-radius: 5px;
}
#LH16 {
      line-height: 1.6em;
      border-style: solid;
      border-width: thin;
      border-radius: 15px;
      padding: 0.5%;
      margin-right: 25%;
      margin-left: 15%;
}
